
h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}

h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  color: gold;
}

p, p2, .shadow, .library, .robotics {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-family: serif;
}
.body1 {
  background: rgb(2,0,36);
  background: linear-gradient(317deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.body2 {
  background: rgb(2,0,36);
  background: linear-gradient(317deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.body3 {
  background: rgb(2,0,36);
  background: linear-gradient(317deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(242,201,9,1) 35%, rgba(0,212,255,1) 100%);
	text-decoration: none;
}
.nav li{
    display:inline;
	text-decoration: none;
}
.nav a{
    display:inline-block;
    padding:10px;
	text-decoration: none;
}
.nav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

.BoS { 
	float:left;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
.Satel { 
	float:right;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
.Krypt { 
	float:left;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
.Ocean { 
	float:right;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.Robin { 
	float:right;
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	width: 40%;
}
.Chick { 
	float:left;
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	width: 40%;
}
.Fett { 
	float:right;
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	width: 40%;
}
.Pizza { 
	float:left;
	display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 40%;
}
.Monte { 
	float:left;
	display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 40%;
}


