
/*body {background-color: powderblue;}
ul {
  display: block;
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
}
li {
  float: right;
}

li a {
  display: block;
  padding: 5px;
  background-color: #dddddd;
}
  
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
*/

/*body {background-color: powderblue;
}*/

.body2 {
  background-color: #BFEFFF;
}
.body3 {
  background-color: #970fff;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}